.login_back{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	/*background: url(../img/u1.png) #fff no-repeat top left;*/
	/*background-size: 100% 100%;*/
	text-align: center;
}
.login-region{
	position: absolute;
	bottom: 7px;
	right: 0;
	width: 9px;
}
.login_user{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
}
.login_user label{
	text-align: left;
	float: left;
}
.login_user ul{
	margin-top: 24px;
}
.login_user li{
	width: 80%;
	border-bottom: solid 1px #bcbcbc;
	margin: 5% 10%;
	text-align: left;
}
.login_user ul input{
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	border: none;
	outline: none;
	padding: 0;
	max-width: 80%;
}
.login_user .remeber{
	border: none;
}

.labelBox{
	float: left;
    width: 110px;
    margin-left: 10%;
    overflow: hidden;
}

[type="checkbox"] +label{
    display: block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: white;
	border: 1px solid #077acb;
	border-radius: 2px;
}

[type="checkbox"]:checked +label::before{
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 10px;
    color: white;
    background: #077acb;
    line-height: 15px;
}

.login_btn{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 80%;
	margin: 5% 10%;
	background-color: #077acb;
	font-size: 19px;
	color: #fff;
	border: none;
	border-radius: 2px;
}

.login-footer{
	position: relative;
	right: 35px;
	text-align: right;	
}
.appName{
	font-family: "黑体";
	font-size: 28px;
	display: inline-block;
	margin-top: 40px;
	color: #449ef2;
	font-weight: bold;
}
.appName img{
	height: 34px;
}

.login_user .mui-icon.mui-icon-forward{
	position: absolute;
	right: 0;
	top: 10px;
}