.mark_c_body .bg_mark{
	position: fixed;
	background-color: black;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.2;
}
.mark_c_content{
	width: 70%;
	margin: 0 auto;
	padding-top: calc(50% - 30px);
}
.mark_check_ccf{
	padding: 30px;
	background-color: white;
	border-radius: 3px;
}
.mark_check_ccf .mark_img{
	width: 100%;
	text-align: center;
}
.mark_check_ccf .mark_img > img{
	width: 130px;
}
.mark_check_ccf  > p{
	width: 100%;
	margin: 20px 0;
	color: #444;
}
.mark_check_ccf #btn_ok{
	background-color: #077acb;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	color: white;
}